// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'font-awesome';
@import 'bootstrap';

.dashboard-card {
  display: table-cell;
}

table {
  table-layout: fixed;
  width: 100%;
}

tr {
  td {
  padding: 35px 0 30px 0;
  border-bottom: lightgray solid;
  }
}

.field select {
  width: 100%
}

.role {
  padding: 0px
}
